body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    cursor: pointer;
}

nav {
    color: white
}

.navbar-right {
    margin-right: 50px;
}

.profile {
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#top-column-header th{
    border-collapse: collapse;
    border-bottom-width: 0px;
    text-align: center;
}

.main-content {
    margin: 0 50px;
}

#data-table_filter {
    text-align: left;
}

#data-table_length {
    text-align: right;
}

.fast-move-highlight {
    background-color: #e3eef2;
}

.charge-move-highlight {
    background-color: #e3f2ea;
}
